In [146]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter
import itertools

In [147]:
data = pd.read_csv('movie_bd_v5.csv')
data.sample(1)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
1408,tt0361089,35000000,19478106,Valiant,Ewan McGregor|Ricky Gervais|Tim Curry|Jim Broa...,Gary Chapman,"Some pigeons eat crumbs, others make history.",The animated comedy tells the story of a lowly...,76,Animation|Family|Adventure,Vanguard Films|Scanbox,3/25/2005,5.3,2005

In [148]:
data.describe()#Получаем основные статистические данные

             budget       revenue      runtime  vote_average  release_year
count  1.889000e+03  1.889000e+03  1889.000000   1889.000000   1889.000000
mean   5.431083e+07  1.553653e+08   109.658549      6.140762   2007.860773
std    4.858721e+07  2.146698e+08    18.017041      0.764763      4.468841
min    5.000000e+06  2.033165e+06    63.000000      3.300000   2000.000000
25%    2.000000e+07  3.456058e+07    97.000000      5.600000   2004.000000
50%    3.800000e+07  8.361541e+07   107.000000      6.100000   2008.000000
75%    7.200000e+07  1.782626e+08   120.000000      6.600000   2012.000000
max    3.800000e+08  2.781506e+09   214.000000      8.100000   2015.000000

In [149]:
data['release_year']

0       2015
1       2015
2       2015
3       2015
4       2015
        ...
1884    2000
1885    2000
1886    2000
1887    2000
1888    2000
Name: release_year, Length: 1889, dtype: int64

# Предобработка

In [150]:
answers = {} # создадим словарь для ответов

# тут другие ваши предобработки колонок например:
#data.info()
#data.shape
data['profit'] = data.apply(lambda x: x['revenue']-x['budget'], axis=1) # Добавим столбец.
data.head(10)
#the time given in the dataset is in string format.
#So we need to change this in datetime format
# ...
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1889 entries, 0 to 1888
Data columns (total 15 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   imdb_id               1889 non-null   object
 1   budget                1889 non-null   int64
 2   revenue               1889 non-null   int64
 3   original_title        1889 non-null   object
 4   cast                  1889 non-null   object
 5   director              1889 non-null   object
 6   tagline               1889 non-null   object
 7   overview              1889 non-null   object
 8   runtime               1889 non-null   int64
 9   genres                1889 non-null   object
 10  production_companies  1889 non-null   object
 11  release_date          1889 non-null   object
 12  vote_average          1889 non-null   float64
 13  release_year          1889 non-null   int64
 14  profit                1889 non-null   int64
dtypes: float64(1), int64(5), object(9)
memory usage: 221.5+ KB

In [151]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1889 entries, 0 to 1888
Data columns (total 15 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   imdb_id               1889 non-null   object
 1   budget                1889 non-null   int64
 2   revenue               1889 non-null   int64
 3   original_title        1889 non-null   object
 4   cast                  1889 non-null   object
 5   director              1889 non-null   object
 6   tagline               1889 non-null   object
 7   overview              1889 non-null   object
 8   runtime               1889 non-null   int64
 9   genres                1889 non-null   object
 10  production_companies  1889 non-null   object
 11  release_date          1889 non-null   object
 12  vote_average          1889 non-null   float64
 13  release_year          1889 non-null   int64
 14  profit                1889 non-null   int64
dtypes: float64(1), int64(5), object(9)
memory usage: 221.5+ KB

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [152]:
# в словарь вставляем номер вопроса и ваш ответ на него
# Пример: 
#answers['1'] = '2. Spider-Man 3 (tt0413300)'
# запишите свой вариант ответа
answers['1'] = 'Pirates of the Caribbean: On Stranger Tides (tt1298650)'
# если ответили верно, можете добавить комментарий со значком "+"

In [153]:
# тут пишем ваш код для решения данного вопроса:
data.loc[data['budget']==data['budget'].max()] # +

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
723,tt1298650,380000000,1021683000,Pirates of the Caribbean: On Stranger Tides,Johnny Depp|PenÃ©lope Cruz|Geoffrey Rush|Ian M...,Rob Marshall,Live Forever Or Die Trying.,Captain Jack Sparrow crosses paths with a woma...,136,Adventure|Action|Fantasy,Walt Disney Pictures|Jerry Bruckheimer Films|M...,5/11/2011,6.3,2011,641683000

ВАРИАНТ 2

In [154]:
# можно добавлять разные варианты решения

# 2. Какой из фильмов самый длительный (в минутах)?

In [155]:
# думаю логику работы с этим словарем вы уже поняли, 
# по этому не буду больше его дублировать
answers['2'] = 'Gods and Generals (tt0279111)'

In [156]:
data.loc[data['runtime']==data['runtime'].max()] # +

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
1157,tt0279111,56000000,12923936,Gods and Generals,Stephen Lang|Jeff Daniels|Robert Duvall|Kevin ...,Ronald F. Maxwell,The nations heart was touched by...,The film centers mostly around the personal an...,214,Drama|History|War,Turner Pictures|Antietam Filmworks,2/21/2003,5.8,2003,-43076064

# 3. Какой из фильмов самый короткий (в минутах)?

In [157]:
data.loc[data['runtime']==data['runtime'].min()] # +

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
768,tt1449283,30000000,14460000,Winnie the Pooh,Jim Cummings|Travis Oates|Jim Cummings|Bud Luc...,Stephen Anderson|Don Hall,Oh Pooh.,"During an ordinary day in Hundred Acre Wood, W...",63,Animation|Family,Walt Disney Pictures|Walt Disney Animation Stu...,4/13/2011,6.8,2011,-15540000

In [158]:
answers['3'] = 'Winnie the Pooh (tt1449283)'

# 4. Какова средняя длительность фильмов?

In [159]:
data['runtime'].mean() # +

109.6585494970884

In [160]:
answers['4'] = '109.6585494970884'

# 5. Каково медианное значение длительности фильмов?

In [161]:
data['runtime'].median() # +

107.0

In [162]:
answers['5'] = '107.0'

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [163]:
# лучше код получения столбца profit вынести в Предобработку что в начале
max_profit = data['profit'].max()
data.loc[data['profit']==max_profit] # +

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
239,tt0499549,237000000,2781505847,Avatar,Sam Worthington|Zoe Saldana|Sigourney Weaver|S...,James Cameron,Enter the World of Pandora.,"In the 22nd century, a paraplegic Marine is di...",162,Action|Adventure|Fantasy|Science Fiction,Ingenious Film Partners|Twentieth Century Fox ...,12/10/2009,7.1,2009,2544505847

In [164]:
answers['6'] = 'Avatar (tt0499549)'

# 7. Какой фильм самый убыточный?

In [165]:
data = pd.read_csv('movie_bd_v5.csv')
data['profit'] = data.apply(lambda x: x['revenue']-x['budget'], axis=1)
data.loc[data['profit']==data['profit'].min()] # +

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
1245,tt1210819,255000000,89289910,The Lone Ranger,Johnny Depp|Armie Hammer|William Fichtner|Hele...,Gore Verbinski,Never Take Off the Mask,The Texas Rangers chase down a gang of outlaws...,149,Action|Adventure|Western,Walt Disney Pictures|Jerry Bruckheimer Films|I...,7/3/2013,6.0,2013,-165710090

In [166]:
answers['7'] = 'The Lone Ranger (tt1210819)'

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [167]:
data.value_counts(data.apply(lambda x: (x['revenue']-x['budget'])>0, axis=1)) # +

True     1478
False     411
dtype: int64

In [168]:
answers['8'] = '1478'

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [169]:
year_2008 = data[data['release_year']==2008]
year_2008.loc[year_2008['profit']==year_2008['profit'].max()] # +

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
599,tt0468569,185000000,1001921825,The Dark Knight,Christian Bale|Michael Caine|Heath Ledger|Aaro...,Christopher Nolan,Why So Serious?,Batman raises the stakes in his war on crime. ...,152,Drama|Action|Crime|Thriller,DC Comics|Legendary Pictures|Warner Bros.|Syncopy,7/16/2008,8.1,2008,816921825

In [170]:
answers['9'] = 'The Dark Knight (tt0468569)'

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [171]:
year_12_14 = data[(data['release_year']>=2012) & (data['release_year']<=2014)]
year_12_14.loc[year_12_14['profit']==year_12_14['profit'].min()] # +

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
1245,tt1210819,255000000,89289910,The Lone Ranger,Johnny Depp|Armie Hammer|William Fichtner|Hele...,Gore Verbinski,Never Take Off the Mask,The Texas Rangers chase down a gang of outlaws...,149,Action|Adventure|Western,Walt Disney Pictures|Jerry Bruckheimer Films|I...,7/3/2013,6.0,2013,-165710090

In [172]:
answers['10'] = 'The Lone Ranger (tt1210819)'

# 11. Какого жанра фильмов больше всего?

In [173]:
# эту задачу тоже можно решать разными подходами, попробуй реализовать разные варианты
# если будешь добавлять функцию - выноси ее в предобработку что в начале
data['genres'] = data['genres'].str.split('|') # Из строки, где больше одного жанра сделали список.
data['genres']
data = data.explode('genres') # Разделили построчно каждый жанр.
data
data.value_counts('genres')#.max() # +

genres
Drama              782
Comedy             683
Thriller           596
Action             582
Adventure          415
Crime              315
Romance            308
Family             260
Science Fiction    248
Fantasy            222
Horror             176
Mystery            168
Animation          139
Music               64
History             62
War                 58
Western             19
Documentary          8
Foreign              2
dtype: int64

In [174]:
answers['11'] = 'Drama'

ВАРИАНТ 2

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [175]:
columns = ['genres', 'profit'] # Выбираем нужные столбцы.
df = data[columns].copy() # Создаем датафрейм с нужными столбцами.
df[df['profit']>0]['genres'].mode()#[0] # Выбираем прибыльные фильмы. Находим самое частое значение жанра. # +

0    Drama
dtype: object

In [176]:
answers['12'] = 'Drama'

# 13. У какого режиссера самые большие суммарные кассовые сборы?

In [177]:
directors = set(data['director'].str.split('|').sum())
pd.Series({x: data[data['director'].str.contains(x)]['revenue'].sum() for x in directors}).sort_values(ascending = False).head(5)
# +

Peter Jackson        17464735681
Christopher Nolan    16196885522
David Yates          13401099613
J.J. Abrams          12805687973
Michael Bay          12370445156
dtype: int64

In [178]:
answers['13'] = 'Peter Jackson'

# 14. Какой режиссер снял больше всего фильмов в стиле Action?

In [179]:
data_action = data[data['genres'].str.contains('Action')] # выбрали только жанр Action.
#Теперь нужно узнать у какого режиссера больше всего фильмов
data_action = data_action.copy() # Скопировали датасет.Питон ругался.
data_action['director'] = data_action['director'].str.split('|') # Из строки, где больше одного режиссера сделали список.
df = data_action.explode('director') # Вывели каждого режиссера в отдельную строку. Было 582 строки, стало 623.
df['director'].value_counts() # Вывели количество уник. знач. на кажд. режиссера. # +

Robert Rodriguez      9
Michael Bay           7
Paul W.S. Anderson    7
Ridley Scott          6
Antoine Fuqua         6
                     ..
Kevin Smith           1
Josh Trank            1
Mikael HÃ¥fstrÃ¶m     1
Phil Joanou           1
Joe Cornish           1
Name: director, Length: 364, dtype: int64

In [180]:
answers['14'] = 'Robert Rodriguez'

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [181]:
cols = ['cast', 'revenue', 'original_title'] # Получаем список нужных столбцов
df = data.query('release_year == 2012')[cols].copy() # Создаем датафрейм по 2012 году с нужными столбцами.
# Группируем по актёрам и по кассовым сборам фильмов с их участием:
df['cast'] = df['cast'].str.split('|') # Из строки, где больше одного актера сделали список. 111 строк.
df = df.explode('cast') # Разделили построчно каждого актера. Стало 555 строк.
df = df.groupby(['cast'])[['revenue']].sum().sort_values(by = 'revenue', ascending=False) # Суммарные сборы по каждому артисту.
# Оформляем результат в текстовой форме:
name, money = df.revenue.idxmax(), df.revenue.max()
print(f'Самые высокие кассовые сборы в 2012 году принесли фильмы с актёром {name}.')
print(f'Сумма сборов составила {round(money/1e6, 1)} млн. долларов.') # +

Самые высокие кассовые сборы в 2012 году принесли фильмы с актёром Chris Hemsworth.
Сумма сборов составила 6060.7 млн. долларов.

In [182]:
answers['15'] = 'Chris Hemsworth'

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [183]:
data = pd.read_csv('movie_bd_v5.csv')
colomns = ['cast','budget'] # Получаем список нужных столбцов
data = data[colomns].copy()
data = data[data['budget'] > data['budget'].mean()] # Выбираем бюджеты выше среднего.
data['cast'] = data['cast'].str.split('|') # Создаем списки, где несколько актеров.
data = data.explode('cast') # Создаем соответсвие: бюджет фильма - актер.
display(data['cast'].value_counts().idxmax()) # Подсчитываем, какой актер большее количество раз встречается. # +

'Matt Damon'

In [184]:
answers['16'] = 'Matt Damon'

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [185]:
data = pd.read_csv('movie_bd_v5.csv')
cols = ['cast','genres'] # Получаем список нужных столбцов
df = data[cols].copy() # Создаем датафрейм с нужными столбцами.
df['cast'] = df['cast'].str.split('|') # Из строки, где больше одного актера сделали список.
df = df.explode('cast') # Разделили построчно каждого актера.
df
df['genres'] = df['genres'].str.split('|') # Из строки, где больше одного жанра сделали список.
df
df = df.explode('genres') # Разделили построчно каждый жанр.
df
df['cast'].value_counts()
cage = df[df['cast']=='Nicolas Cage'] # Отсортировали по Nicolas Cage.
cage
display(cage['genres'].value_counts().idxmax()) # Подсчитываем, наибольшее число жанров у актера. # +

'Action'

In [186]:
answers['17'] = 'Action'

# 18. Самый убыточный фильм от Paramount Pictures

In [187]:
data = pd.read_csv('movie_bd_v5.csv')
data['profit'] = data.apply(lambda x: x['revenue']-x['budget'], axis=1)
# Отфильтруем датафрем по Paramount Pictures:
#data = data[data['production_companies']=='Paramount Pictures']
#data
#data.loc[data['revenue']==data['revenue'].min()]
data[data['production_companies'] == 'Paramount Pictures']\
[['imdb_id', 'original_title', 'profit']].sort_values('profit').head()

        imdb_id        original_title    profit
587   tt0249478  Domestic Disturbance -20750706
436   tt0964517           The Fighter -15809131
961   tt0261289          Serving Sara -12069815
1533  tt0408985          Last Holiday  -6600039
1429  tt0408524        Bad News Bears   4252847

In [188]:
answers['18'] = 'Domestic Disturbance (tt0249478)'

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [189]:
data = pd.read_csv('movie_bd_v5.csv')
data['profit'] = data.apply(lambda x: x['revenue']-x['budget'], axis=1)
# Суммарные сборы по каждому году:
data = data.groupby('release_year')[['revenue']].sum().sort_values(by = 'revenue', ascending=False)
data.head(5)

                  revenue
release_year
2015          25449202382
2014          23405862953
2013          23213799791
2012          23079001687
2011          22676791872

In [190]:
answers['19'] = '2015'

# 20. Какой самый прибыльный год для студии Warner Bros?

In [191]:
data = pd.read_csv('movie_bd_v5.csv')
data['profit'] = data.apply(lambda x: x['revenue']-x['budget'], axis=1)
data.head(1)
cols = ['production_companies', 'release_year', 'profit', 'revenue'] # Получаем список нужных столбцов.
df = data[cols].copy() # Создаем датафрейм с нужными столбцами.
df['production_companies'] = df['production_companies'].str.split('|') # Из строки, где больше одной компании сделали список.
df = df.explode('production_companies') # Разделили построчно каждую компанию.
# Создадим новый датафрейм с компанией Warner Bros. Pictures.
data_WB = df[df['production_companies']=='Warner Bros.']
# Самый прибыльный год.
#df = data_WB.groupby(['release_year'])[['profit']].sum().sort_values(by='profit', ascending=False)
#df

data[data["production_companies"].str.contains("Warner Bros")].groupby("release_year").sum()["profit"].sort_values(ascending = False).head(1)

release_year
2014    2295464519
Name: profit, dtype: int64

In [192]:
answers['20'] = '2014'

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [193]:
data = pd.read_csv('movie_bd_v5.csv')
data.head(1)
data['release_date'] = data['release_date'].astype('datetime64[ns]') # Перевели даты в формат.
data['release_month'] = data['release_date'].dt.month # Создали колонку release_month.
data.head(1)
data['release_month'].value_counts() # Какой месяц встречается чаще всего.

9     227
12    190
10    186
8     161
3     156
4     149
6     147
11    146
7     142
5     140
2     135
1     110
Name: release_month, dtype: int64

In [194]:
answers['21'] = 'Сентябрь'

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [195]:
data = pd.read_csv('movie_bd_v5.csv')
data['release_date'] = data['release_date'].astype('datetime64[ns]') # Перевели даты в формат.
data['release_month'] = data['release_date'].dt.month # Создали колонку release_month.
summer = data[(data['release_month']==6) |
             (data['release_month']==7) |
             (data['release_month']==8)] # Выбрали летние фильмы.
summer.head(5)
summer.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 450 entries, 0 to 1888
Data columns (total 15 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   imdb_id               450 non-null    object
 1   budget                450 non-null    int64
 2   revenue               450 non-null    int64
 3   original_title        450 non-null    object
 4   cast                  450 non-null    object
 5   director              450 non-null    object
 6   tagline               450 non-null    object
 7   overview              450 non-null    object
 8   runtime               450 non-null    int64
 9   genres                450 non-null    object
 10  production_companies  450 non-null    object
 11  release_date          450 non-null    datetime64[ns]
 12  vote_average          450 non-null    float64
 13  release_year          450 non-null    int64
 14  release_month         450 non-null    int64
dtypes: datetime64[ns](1), float64(1), int64(5), object(8)
memory usage: 56.2+ KB

In [196]:
answers['22'] = '450'

# 23. Для какого режиссера зима – самое продуктивное время года?

In [197]:
data = pd.read_csv('movie_bd_v5.csv')
data['release_date'] = data['release_date'].astype('datetime64[ns]') # Перевели даты в формат.
data['release_month'] = data['release_date'].dt.month # Создали колонку release_month.
summer = data[(data['release_month']==12) |
             (data['release_month']==1) |
             (data['release_month']==2)] # Выбрали зимние фильмы.
summer = summer.copy() # Копируем датафрейм.
summer['director'] = summer['director'].str.split('|') # Из строки, где больше одного режиссера сделали список.
summer = summer.explode('director') # Разделили построчно кажого режиссера.
summer['director'].value_counts()

Peter Jackson           7
Clint Eastwood          6
Steven Soderbergh       6
Martin Scorsese         4
Nancy Meyers            4
                       ..
Miguel Arteta           1
Anand Tucker            1
Mark Pellington         1
Nick Hurran             1
Michael Winterbottom    1
Name: director, Length: 358, dtype: int64

In [198]:
answers['23'] = 'Peter Jackson'

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [199]:
data = pd.read_csv('movie_bd_v5.csv')
cols = ['production_companies', 'original_title']
df = data[cols].copy() # Создаем датафрейм с нужными столбцами.
df['production_companies'].unique()
df['production_companies'] = df['production_companies'].str.split('|') # Из строки, где больше одной компании сделали список.
df = df.explode('production_companies') # Разделили построчно каждую компанию.
df
# Нужно посчитать среднее количество символов в названии фильмов на каждую компанию.
# Введем новый столбец с количеством символов в названии фильма.
df['num_of_chars'] = df['original_title'].apply(lambda x: len(x))
df
df = df.groupby(['production_companies', 'original_title'])[['num_of_chars']].mean().sort_values(by='num_of_chars', ascending=False)
df

                                                                                           num_of_chars
production_companies                   original_title
Four By Two Productions                Borat: Cultural Learnings of America for Make B...            83
Twentieth Century Fox Film Corporation Borat: Cultural Learnings of America for Make B...            83
Walden Media                           The Chronicles of Narnia: The Lion, the Witch a...            62
Walt Disney                            The Chronicles of Narnia: The Lion, the Witch a...            62
21 Laps Entertainment                  Alexander and the Terrible, Horrible, No Good, ...            59
...                                                                                                 ...
Focus Films                            9                                                              1
Arc Productions                        9                                                              1
Starz Animation                        9                                                              1
Relativity Media                       9                                                              1
Tim Burton Productions                 9                                                              1

[6076 rows x 1 columns]

In [200]:
answers['24'] = 'Four By Two Productions'

In [201]:
l=[[1,2,3,4],[1,2,3],[1,2,3,4,5,6,7],[1,2]]; max=0
for x in l:
    if max<len(x): max=len(x)
print(max)

#max = 0
#for x in df['original_title']:
#    if max<len(x):
#        max=len(x)
#print(x)

7

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [202]:
data = pd.read_csv('movie_bd_v5.csv')
data.head(1)
cols = ['production_companies', 'original_title', 'overview']
df = data[cols].copy() # Создаем датафрейм с нужными столбцами.
df['production_companies'].unique()
df['production_companies'] = df['production_companies'].str.split('|') # Из строки, где больше одной компании сделали список.
df = df.explode('production_companies') # Разделили построчно каждую компанию.
df
# Нужно посчитать среднее количество слов в описании фильмов на каждую компанию.
# Создадим новый столбец num_of_words с количеством слов в описании фильма.
df['num_of_words'] = df['overview'].apply(lambda x: len(str(x).split(' ')))
# Посчитаем среднее количество слов описания на каждый фильм.
df = df.groupby('production_companies')[['num_of_words']].mean().sort_values(by='num_of_words', ascending=False).head()
df

                                  num_of_words
production_companies
Midnight Picture Show                    175.0
Heineken Branded Entertainment           161.0
Room 9 Entertainment                     161.0
98 MPH Productions                       159.0
Brookwell-McNamara Entertainment         156.0

In [203]:
answers['25'] = 'Midnight Picture Show'

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

In [204]:
data = pd.read_csv('movie_bd_v5.csv')
data.head(1)
data[data['vote_average'] >= np.quantile(data['vote_average'], 0.01)].sort_values(
    by='vote_average', ascending=False)[["original_title","vote_average"]].head(10)

                                     original_title  vote_average
599                                 The Dark Knight           8.1
34                                             Room           8.0
125                              The Imitation Game           8.0
118                                    Interstellar           8.0
9                                        Inside Out           8.0
1191                               12 Years a Slave           7.9
128                                       Gone Girl           7.9
872                                     The Pianist           7.9
1081  The Lord of the Rings: The Return of the King           7.9
119                         Guardians of the Galaxy           7.9

In [205]:
answers['26'] = 'Inside Out, The Dark Knight, 12 Years a Slave'

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

In [206]:
data = pd.read_csv('movie_bd_v5.csv')
data = data.copy()
data['cast'] = data['cast'].str.split("|")

counter_ = Counter()

for cast in data['cast']:
    a = list(itertools.combinations(cast, 2))
    counter_ += Counter(a)
    
counter_.most_common(1)

[(('Daniel Radcliffe', 'Rupert Grint'), 8)]

In [207]:
answers['27'] = 'Daniel Radcliffe, Rupert Grint'

# Submission

In [208]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

{'1': 'Pirates of the Caribbean: On Stranger Tides (tt1298650)',
 '2': 'Gods and Generals (tt0279111)',
 '3': 'Winnie the Pooh (tt1449283)',
 '4': '109.6585494970884',
 '5': '107.0',
 '6': 'Avatar (tt0499549)',
 '7': 'The Lone Ranger (tt1210819)',
 '8': '1478',
 '9': 'The Dark Knight (tt0468569)',
 '10': 'The Lone Ranger (tt1210819)',
 '11': 'Drama',
 '12': 'Drama',
 '13': 'Peter Jackson',
 '14': 'Robert Rodriguez',
 '15': 'Chris Hemsworth',
 '16': 'Matt Damon',
 '17': 'Action',
 '18': 'Domestic Disturbance (tt0249478)',
 '19': '2015',
 '20': '2014',
 '21': 'Сентябрь',
 '22': '450',
 '23': 'Peter Jackson',
 '24': 'Four By Two Productions',
 '25': 'Midnight Picture Show',
 '26': 'Inside Out, The Dark Knight, 12 Years a Slave',
 '27': 'Daniel Radcliffe, Rupert Grint'}

In [209]:
# и убедиться что ни чего не пропустил)
len(answers)

27